.header {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;

  align-items: center;
  border-bottom: 2px solid black;
}

.header > div {
  display: flex;
  align-items: center;
}

.header h1 {
  font-size: 15px;
  margin-left: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.sgvTitulo {
  width: 195px;
}

.borderBottom {
  border-bottom: 1px solid hsla(0, 0%, 87.46%, 1);
}
