.section {
  display: grid;
  align-items: start;
  grid-template-columns: 3fr 1.2fr 1fr;
  margin-top: 20px;
  padding-bottom: 20px;
  gap: 25px;
  border-bottom: 1px solid hsla(0, 0%, 87.46%, 1);
}

.section img {
  width: 100%;
}

.primaria {
  display: grid;
}

.primaria h1 {
  margin-top: 20px;
}

.primaria p {
  margin-top: 10px;
  line-height: 20px;
}

:is(.primaria, .secundaria, .aside) span {
  color: #727272;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}

:is(.primaria, .secundaria) > div:first-child {
  display: grid;
  justify-items: end;
}

.secundaria h1 {
  font-size: 20px;
  margin-top: 12px;
}

.secundaria p {
  font-size: 15px;
  line-height: 20px;
  margin-top: 12px;
}

.secundaria p:nth-child(3) {
  color: #999;
}

.primaria {
  position: relative;
}

.primaria::before {
  content: "";
  height: 100%;
  position: absolute;
  left: calc(60rem + 6px);
  border-left: 1px solid #dfdfef;
}

.primaria::after {
  content: "";
  height: 100%;
  position: absolute;
  right: calc(-0.85rem);
  border-left: 1px solid #dfdfef;
}

.aside > div:first-child {
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdfef;
}

.aside > div > div > p {
  margin: 14px 0 0;
}

.aside > div:last-child > div:last-child > h1 {
  margin-top: 16px;
}

.aside h1 {
  font-size: 20px;
}

.aside > div {
  display: grid;
  gap: 12px;
}

.aside > div > p:last-child {
  font-size: 15px;
  color: #999;
}

.aside img {
  width: 50%;
  float: right;
  padding: 0 0 4px 8px;
}
