.section {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    margin-top: 20px;
    padding-bottom: 20px;
    gap: 25px;
    border-bottom: 1px solid hsla(0,0%,87.46%,1);    
}

.section img {
    width: 100%;
}

.primaria{
    width: 605px;
    height: 580px; 
    display: flex;
    flex-direction: column;
}

.primaria h1{
    margin-top: 20px;
}

.primaria p {
    margin-top: 10px;
    line-height: 20px;
}

.primaria p:nth-child(3){
    color: #999;
}

.secundaria{ 
    width: 305px;
    height: 580px; 
}

.secundaria h1{
    font-size: 20px;
    margin-top: 12px;
}

.secundaria p{
    font-size: 15px;
    line-height: 20px;
    margin-top: 12px;
}

.secundaria p:nth-child(3){
    color: #999;
}

.aside{
    display: flex;    
    width: 240px;
    height: 290px;
}

.aside h1 {
    font-size: 20px;
}

.aside p:nth-child(3) {
    font-size: 15px;
    margin-top: 12px;
}

.aside p:nth-child(4) {
    font-size: 15px;
    color: #999;
    margin-top: 7px;
}
.aside img{
    width: 75px;
    margin: 0 10px 20px 20px;
    float: right;
}