.homeAside {
  display: grid;
  position: relative;
}

.homeAside::before {
  content: "";
  height: 100%;
  position: absolute;
  left: -1rem;
  top: calc(-0.1rem + 2px);
  border-left: 1px solid #c7c7c7;
}

.homeAside img {
  width: 300px;
}

.homeAside h1 {
  font-size: 18px;
}

.homeAside h1:hover {
  text-decoration: underline;
}

.homeAside > div {
  display: grid;
  gap: 8px;
  border-top: 1px solid #000;
  padding: 24px 0 24px;
}

.homeAside > div > div {
  display: grid;
  gap: 8px;
}
