.noticiaPrincipal {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #c7c7c7;
  gap: 32px;
}

.health {
  display: grid;
  gap: 20px;
}

.health span {
  color: #727272;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}

.noticiaPrincipal h1 {
  font-size: 38px;
  line-height: 50px;
  font-weight: 200;
}

.noticiaPrincipal h1 > a:hover,
.cardNoticia h2 > a:hover {
  text-decoration: underline;
}

.noticiaPrincipal h1 > a,
.cardNoticia h2 > a {
  text-decoration: none;
  color: #000;
}

.noticiaPrincipal p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 8px;
}

.noticiaPrincipal img {
  width: 790px;
}

.noticiaPrincipal:nth-child(1) {
  display: flex;
  align-items: center;
}

.displayGrid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 380px);
  gap: 25px;
}

.cardNoticia {
  display: grid;
  margin-bottom: 30px;
  align-content: start;
}

.displayGrid {
  border-bottom: 1px solid hsla(0, 0%, 87.46%, 1);
}

.noticiaPrincipal > div:last-child,
.cardNoticia > div:first-child {
  text-align: right;
}

.cardNoticia img {
  width: 380px;
}

.cardNoticia h2 {
  font-size: 24px;
  font-weight: 200;
  margin-top: 15px;
}

.cardNoticia p {
  margin-top: 8px;
  font-size: 16px;
  line-height: 20px;
}

.cardNoticia {
  position: relative;
}

.cardNoticia::before {
  content: "";
  height: 100%;
  position: absolute;
  left: -1rem;
  top: calc(-0.1rem + 2px);
  border-left: 1px solid #c7c7c7;
}

.cardNoticia:nth-child(1)::before {
  border: none;
  height: 0;
}
