.layoutPrincipal {
    width: 1200px;
    height: 555px;
    margin-top: 20px;
    display: flex;
    background-color: #999;
}

.layoutPrincipal>div:nth-child(1){
    width: 620px;
    height: 555px;
    border-right: 1px solid #f3f3f3;   
}

.layoutPrincipal>div:nth-child(1)>p {
    width: 605px;
    height: 400px;
    background-color: blue;
}

.layoutPrincipal>div:nth-child(2){
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 555px;
    border-right: 1px solid #f3f3f3;
   
}

.layoutPrincipal>div:nth-child(2)>p{
    width: 305px;
    height: 200px;
    background-color: aqua;    
}

.layoutPrincipal>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.layoutPrincipal>div>div>h1 {
    font-size: 22px;
}

.layoutPrincipal>aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 240px;
    height: 555px;    
}

.layoutPrincipal>aside>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 260px;
    background-color: #999;
    row-gap: 10px;
}

.layoutPrincipal>aside>div:nth-child(2) {
    border-top: 1px solid #f3f3f3;    
}