.pagesHeader {
  margin-top: 45px;
}

.pagesHeader h1 {
  font-size: 38px;
  font-weight: 900;
  margin-bottom: 10px;
  /* text-shadow: ; */
}

.pagesHeader > div {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 0 6px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 2px solid black;
}
