.displayGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 32px 0;
  align-items: start;
  gap: 40px;
  border-bottom: 2px solid black;
}

.galeriaNoticia > div {
  display: grid;
  gap: 12px;
}

.galeriaNoticia img {
  width: 100%;
}

.galeriaNoticia span > a {
  text-decoration: none;
  color: #000;
}

.galeriaNoticia span > a:hover {
  text-decoration: underline;
}

.galeriaNoticia {
  position: relative;
}

.galeriaNoticia::before {
  content: "";
  height: 310px;
  position: absolute;
  left: -1.3rem;
  top: calc(-0.1rem + 1.5px);
  border-left: 1px solid #c7c7c7;
}

.galeriaNoticia:nth-child(1)::before {
  border: none;
  height: 0;
}
