.displayflex {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}

.galeriaNoticia {
    width: 240px;
    display: flex;
    justify-content: center;
    padding: 20px 0;    
    margin-bottom: 25px;
}

.galeriaNoticia img {
    width: 100%;
    margin-top: -20px;
}

.galeriaNoticia a {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}

.galeriaNoticia:nth-child(2)::before,
.galeriaNoticia:nth-child(4)::before {
    content: "";
    height: 100%;
    position: relative;
    left: -0.65rem;
    top: calc(-0.1rem + 2px);  
    border-left: 1px solid #c7c7c7;
  }
  
.galeriaNoticia:nth-child(2)::after, 
.galeriaNoticia:nth-child(4)::after {
    content: "";
    height: 100%;
    position: relative;
    left: 10px;
    top: calc(-0.1rem + 2px);  
    border-left: 1px solid #c7c7c7;
  }