.displayGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  margin-top: 30px;
  padding-bottom: 60px;
  border-bottom: 1px solid hsla(0, 0%, 87.46%, 1);
}

.layoutPrincipal {
  text-align: center;
  position: relative;
}

.layoutPrincipal > div:first-child {
  text-align: right;
}

.layoutPrincipal h1 {
  font-size: 24px;
  margin-top: 24px;
}

.layoutPrincipal h1 > a,
.asideLayout2 h2 > a {
  text-decoration: none;
  color: #000;
}

.layoutPrincipal h1 > a:hover,
.asideLayout2 h2 > a:hover {
  text-decoration: underline;
}

.layoutPrincipal p:nth-child(2) {
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
}

.layoutPrincipal span,
.columnNoticias span {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #727272;
}

.layoutPrincipal img {
  width: 100%;
}

.layoutPrincipal::after {
  content: "";
  height: 100%;
  position: absolute;
  right: -1.3rem;
  top: 0rem;
  border-left: 1px solid #dfdfef;
}

.columnNoticias {
  display: grid;
  gap: 20px;
  align-content: start;
}

.columnNoticias > div {
  padding-bottom: 16px;
}

.asideLayout2:nth-child(1),
.asideLayout2:nth-child(2) {
  border-bottom: 1px solid hsla(0, 0%, 87.46%, 1);
}

.asideLayout2 h2 {
  font-size: 20px;
}

.asideLayout2 p:nth-child(2) {
  font-size: 15px;
  line-height: 20px;
}

.asideLayout2 img {
  width: 100%;
}

.asideLayout2 > div:first-child {
  display: flex;
  padding-bottom: 12px;
}
