.home > section {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  gap: 20px;
  font-size: 14px;
}

.home > section > div {
  font-weight: bold;
}

.home > section > div:first-child > span:first-child {
  color: #d0021b;
  margin-right: 12px;
  font-size: 12px;
  font-weight: bolder;
}

.home > section > div > span {
  font-weight: normal;
  color: #d0021b;
  font-size: 12px;
}

.homeMain {
  display: grid;
  justify-content: center;
  grid-template-columns: 3fr 1fr;
  gap: 32px;
}
