.displayGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 30px;
  padding-bottom: 30px;
}

.displayGrid > div:first-child {
  display: grid;
  gap: 20px;
  align-content: start;
}

.layoutPrincipal {
  display: flex;
  gap: 12px;
  padding-bottom: 26px;
  border-bottom: 1px solid hsla(0, 0%, 87.46%, 1);
}

.layoutPrincipal > div:first-child > p {
  margin-top: 8px;
}

.layoutPrincipal > div:first-child > span {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #727272;
}

.layoutPrincipal img {
  width: 460px;
}

.displayGrid > div:first-child > div:last-child img {
  width: 290px;
}

.layoutPrincipal h1 {
  font-size: 20px;
}

.layoutPrincipal h1 > a,
.asideLayout4 h2 > a {
  text-decoration: none;
  color: #000;
}

.layoutPrincipal h1 > a:hover,
.asideLayout4 h2 > a:hover {
  text-decoration: underline;
}

.layoutPrincipal p:nth-child(2) {
  font-size: 15px;
  line-height: 22px;
}

.asideLayout4 {
  margin-left: 12px;
}

.asideLayout4:nth-child(1),
.asideLayout4:nth-child(2) {
  padding-bottom: 30px;
  border-bottom: 1px solid hsla(0, 0%, 87.46%, 1);
}

.displayGrid > div:last-child {
  position: relative;
}

.displayGrid > div:last-child::before {
  content: "";
  height: 100%;
  position: absolute;
  left: -0.2rem;
  top: calc(-0.1rem + 2px);
  border-left: 1px solid #c7c7c7;
}

.asideLayout4:nth-child(2) {
  margin-top: 30px;
}

.asideLayout4 h2 {
  font-size: 20px;
  padding-bottom: 15px;
  line-height: 25px;
}

.asideLayout4 img {
  height: 120px;
}

.asideLayout4 > div {
  display: flex;
  gap: 10px;
}

.asideLayout4 span {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #727272;
}
